{% extends "base.html" %}
   {% block title %} Demo{% endblock %}

 
    </head>
       <body>  
     
          {% block content %}
         <div class="container-fluid text-center" style= "height: 100vh">
           <div class="row">
             <div class="col-sm-2 bg-light border" style= "height: 100vh">
               Level 1: .col-sm-2 (SIDEBAR)


             
             </div>
             <div class="col-sm-10">
               <div class="row">
                 <div class="col-10 col-sm-9 border" style= "height: 100vh">
                   Level 2: .col-8 .col-sm-6
                   SPREADSHEET VIEW RESULTS
                 </div>
                 <div class="col-2 col-sm-3 border" style= "height: 100vh">
                   Rule-types
                   <ul>
                    <li>sanitization: check valid phonenumber </li>
                    <li>sanitization: check valid postcode </li>


                    <li> Number of duplicates </li>
                   <li> Number of unique company names</li>
                    <li>  Number of Valid postcodes</li>
                    <li>Number of blank attributes</li>
                    <li>satisfies regular expression</li>
                  
                   </ul>
                 </div>
               </div>
             </div>
           </div>
         </div>


           <footer><h1>FOOTER</h1></footer>
         
         
           </div>
         </div>

  
         {% endblock %}