{% extends "base.html" %}
   {% block title %} Data Profiling {% endblock %}

   {% block content %}

    <div class="container mt-5">
        <h2>Data Profiling</h2>
        <form action="/data-profiling" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="file" class="form-label">Upload Excel File</label>
                <input type="file" class="form-control" id="file" name="file" accept=".xlsx">
            </div>
            <button type="submit" class="btn btn-primary">Profile Data</button>
        </form>
    </div>

