{% extends "base.html" %}
   {% block title %} Data Profiling {% endblock %}
{% block header %}{% endblock %}
   {% block content %}


        
        <form method="POST" action="/upload" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="file" class="form-label"></label>
                <input type="file" class="form-control" id="file" name="file" accept=".xlsx">
            </div>
        
        <input class="btn btn-primary"  type="submit" value="Upload">

        </form>

{% endblock %}