{% extends "original_base.html" %}

   {% block title %}Excel Operations {% endblock %}
   {% block content %}
<body>

    <!-- Introduction Section -->
<div class="intro-section">
    <h2>Welcome to the Excel Data Quality Tool</h2>
    <p>
        This platform allows you to upload an Excel file for a comprehensive data quality check. Upon uploading your spreadsheet, our system will:
    </p>
    <ul>
        <li>Highlight duplicate company names for easy identification.</li>
        <li>Check and highlight any invalid UK postcodes.</li>
        <li>Provide a detailed data profiling report to help you understand your dataset's characteristics.</li>
    </ul>
    <p>
        Get started by selecting your Excel file and let our tool do the magic!
    </p>
</div>


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Data Quality</button> 
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Data Profiling</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Validate</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0"> Highlight duplicate company names for easy identification.
            Check and highlight any invalid UK postcodes. <form method="POST" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xlsx">
            <input type="submit" value="Upload">
        </form></div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">The data profiling page analyzes the uploaded Excel sheet and provides a summary of its contents, such as total records, unique values, missing values, and the top five occurrences for each column 
            <form method="POST" action="/data-profiling" enctype="multipart/form-data">
                <input type="file" name="file" accept=".xlsx">
                <input type="submit" value="Profile Data">
            </form>
        </div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">Validate and Standardize Data <form method="POST" action="/validate" enctype="multipart/form-data">
            <input type="file" name="file" accept=".xlsx">
            <input type="submit" value="Validate Data">
        </form>
            <iframe width="100%" height="600px" src="https://app.powerbi.com/reportEmbed?reportId=f1505987-76f1-4420-9cb0-ca7d7b4ddd71&amp;autoAuth=true&amp;ctid=76a2ae5a-9f00-4f6b-95ed-5d33d77c4d61" allowfullscreen="true">
        </iframe></div>
       
      </div>

</body>

{% endblock %} 