{% extends "base.html" %}
   {% block title %} Excel Operations {% endblock %}

    {% block content %}

<!-- Tabs header -->
<div>
    <div class="tab active-tab" onclick="showTab('upload')">Upload Excel</div>
    <div class="tab" onclick="showTab('dataProfiling')">Data Profiling</div>
    <div class="tab" onclick="showTab('validate')">Validate</div>
</div>

<!-- Introduction Section -->
<div class="intro-section">
    <h2>Welcome to the Excel Data Quality Tool</h2>
    <p>
        This platform allows you to upload an Excel file for a comprehensive data quality check. Upon uploading your spreadsheet, our system will:
    </p>
    <ul>
        <li>Highlight duplicate company names for easy identification.</li>
        <li>Check and highlight any invalid UK postcodes.</li>
        <li>Provide a detailed data profiling report to help you understand your dataset's characteristics.</li>
    </ul>
    <p>
        Get started by selecting your Excel file and let our tool do the magic!
    </p>
</div>

<!-- Upload Excel Content -->
<div id="upload" style="display:block;">
    <h1>Upload an Excel File</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx">
        <input type="submit" value="Upload">
    </form>
</div>

<!-- Data Profiling Content -->
<div id="dataProfiling" style="display:none;">
    <h1>Data Profiling</h1>
    <form method="POST" action="/data-profiling" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx">
        <input type="submit" value="Profile Data">
    </form>
</div>

<div id="validate" style="display:none;">
    <h1>Validate and Standardize Data</h1>
    <form method="POST" action="/validate" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx">
        <input type="submit" value="Validate Data">
    </form>
</div>
{% endblock %}

{% block javascript %}
<script>
    function showTab(tabName) {
        // Hide all tabs
        document.getElementById('upload').style.display = 'none';
        document.getElementById('dataProfiling').style.display = 'none';
        document.getElementById('validate').style.display = 'none';

        // Show the selected tab
        document.getElementById(tabName).style.display = 'block';
    }
</script>
{% endblock %}