{% extends "base.html" %}

{% block title %}Data Validation Results {% endblock %}
{% block content %}

<h2>Data Validation Results</h2>

{% if issues %}
    <table>
        <thead>
            <tr>
                <th>Issue Type</th>
                <th>Column Name</th>
                <th>Row Number</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issues %}
                <tr>
                    <td>{{ issue.type }}</td>
                    <td>{{ issue.column_name }}</td>
                    <td>{{ issue.row_number }}</td>
                    <td>{{ issue.details }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No issues found in the data.</p>
{% endif %}

<!-- Button to return back to the main page -->
<a class ="btn btn-outline-secondary" href="{{ url_for('index') }}" role="button">Back to Home Page</a>


{% endblock %}